@using MudBlazor

@if (IsLoading)
{
    <div class="fullscreen-loader">
        <MudPaper Class="loader-content" Elevation="0">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="MudBlazor.Size.Large" />
            <MudText Typo="Typo.h6" Class="mt-4">Loading, please wait...</MudText>
        </MudPaper>
    </div>
}

@code {
    [Parameter]
    public bool IsLoading { get; set; }
}